@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

body {
    height: 70vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

li, a, button {
    font-family: "Monsterrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 100%

}

.logo {
    cursor: pointer;
    width: 160px;
}

.nav__links {
    list-style: none;
    text-align: center;
    margin: auto;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    padding: 6px 12px;
}

.nav__links li a:hover {
    color: #0088a9;
    border-bottom: 2px solid;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.test {
    color: white;
}

.coming {
    width: 100vw;
    height: 500px;
    text-align: center;
    vertical-align: middle;
    display:table-cell;
    font-size: 60px;
    color: white;
}

.logout {
    display: inline-block;
    margin-left: 50px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 12px;
    color: #0088a9;
}

.logo_box {
    width: 250px;
    text-align: center;
}


#about-us {
    width: 150px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#about-us:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

#about-us-article {
    z-index: 100;
    position: absolute;
    right: 80px;
    top: 80px;
    background-color: rgba(46, 47, 52, 1);
    border: 1px solid tomato;
    border-radius: 30px 0 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 0 10px 10px 10px;
}

#about-us-article .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
    padding: 10px 10px;
    background-color: rgba(46, 47, 52, 1);
}

.divider {
    transform: translateX(5%);
    width: 90%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}

#about-us-article .profile:last-child {
    border-bottom: none;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: center;
    object-fit: cover;
}

.profile-contents {
    background-color: rgba(46, 47, 52, 1);
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 30px;
    color: whitesmoke;
    font-size: 16px;
}

.profile-contents span {
    padding: 2px 0;
    background-color: rgba(46, 47, 52, 1);
}

.profile-contents span a {
    background-color: rgba(46, 47, 52, 1);
}

.profile-contents a:link {
    text-decoration: none;
    font-family: "Jua", sans-serif;
    color: whitesmoke;
}

.profile-contents span:hover a {
    text-decoration: none;
    font-family: "Jua", sans-serif;
    color: tomato;
}

.profile-contents a:visited {
    text-decoration: none;
    font-family: "Jua", sans-serif;
    color: whitesmoke;
}