<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename= 'css/graph.css') }}">

    <title>#MBTI99_graph</title>

    <script>
        $(document).ready(function () {
            show_stat();
        });

        function logout() {
            window.location.assign("http://localhost:5000/logout");
        }

        function show_stat() {
            $.ajax({
                type: "GET",
                url: "/mbtiList",
                data: {},
                success: function (response) {
                    {#console.log(response)#}
                    let mbti_length = response['user_list'].length
                    {#console.log(mbti_length)#}
                    let usermbti = response['user_list'][(mbti_length)-1]['mbti']
                    {#console.log(user_mbti)#}
                    let user_mbti = usermbti.split('')
                    {#console.log(user_mbti)#}
                    let mbti_arr = [
                        {mbti: "istj", count: 0},
                        {mbti: "istp", count: 0},
                        {mbti: "isfj", count: 0},
                        {mbti: "isfp", count: 0},
                        {mbti: "intj", count: 0},
                        {mbti: "intp", count: 0},
                        {mbti: "infj", count: 0},
                        {mbti: "infp", count: 0},
                        {mbti: "estj", count: 0},
                        {mbti: "estp", count: 0},
                        {mbti: "esfj", count: 0},
                        {mbti: "esfp", count: 0},
                        {mbti: "entj", count: 0},
                        {mbti: "entp", count: 0},
                        {mbti: "enfj", count: 0},
                        {mbti: "enfp", count: 0},
                    ];

                    let mbti_detail = {
                        i: 0,
                        e: 0,
                        s: 0,
                        n: 0,
                        t: 0,
                        f: 0,
                        j: 0,
                        p: 0,
                    };

                    let rows = response["user_list"];
                    for (let i = 0; i < rows.length; i++) {
                        let mbti = rows[i]["mbti"];
                        `1`;
                        {#console.log(mbti)#}
                        switch (mbti) {
                            case "istj":
                                mbti_arr[0].count += 1;
                                mbti_detail.i += 1;
                                mbti_detail.s += 1;
                                mbti_detail.t += 1;
                                mbti_detail.j += 1;
                                break;

                            case "istp":
                                mbti_arr[1].count += 1;
                                mbti_detail.i += 1;
                                mbti_detail.s += 1;
                                mbti_detail.t += 1;
                                mbti_detail.p += 1;
                                break;
                            case "isfj":
                                mbti_arr[2].count += 1;
                                mbti_detail.i += 1;
                                mbti_detail.s += 1;
                                mbti_detail.f += 1;
                                mbti_detail.j += 1;
                                break;
                            case "isfp":
                                mbti_arr[3].count += 1;
                                mbti_detail.i += 1;
                                mbti_detail.s += 1;
                                mbti_detail.f += 1;
                                mbti_detail.p += 1;
                                break;
                            case "intj":
                                mbti_arr[4].count += 1;
                                mbti_detail.i += 1;
                                mbti_detail.n += 1;
                                mbti_detail.t += 1;
                                mbti_detail.j += 1;
                                break;
                            case "intp":
                                mbti_arr[5].count += 1;
                                mbti_detail.i += 1;
                                mbti_detail.n += 1;
                                mbti_detail.t += 1;
                                mbti_detail.p += 1;
                                break;
                            case "infj":
                                mbti_arr[6].count += 1;
                                mbti_detail.i += 1;
                                mbti_detail.n += 1;
                                mbti_detail.f += 1;
                                mbti_detail.j += 1;
                                break;
                            case "infp":
                                mbti_arr[7].count += 1;
                                mbti_detail.i += 1;
                                mbti_detail.n += 1;
                                mbti_detail.f += 1;
                                mbti_detail.p += 1;
                                break;
                            case "estj":
                                mbti_arr[8].count += 1;
                                mbti_detail.e += 1;
                                mbti_detail.s += 1;
                                mbti_detail.t += 1;
                                mbti_detail.j += 1;
                                break;
                            case "estp":
                                mbti_arr[9].count += 1;
                                mbti_detail.e += 1;
                                mbti_detail.s += 1;
                                mbti_detail.t += 1;
                                mbti_detail.p += 1;
                                break;
                            case "esfj":
                                mbti_arr[10].count += 1;
                                mbti_detail.e += 1;
                                mbti_detail.s += 1;
                                mbti_detail.f += 1;
                                mbti_detail.j += 1;
                                break;
                            case "esfp":
                                mbti_arr[11].count += 1;
                                mbti_detail.e += 1;
                                mbti_detail.s += 1;
                                mbti_detail.f += 1;
                                mbti_detail.p += 1;
                                break;
                            case "entj":
                                mbti_arr[12].count += 1;
                                mbti_detail.e += 1;
                                mbti_detail.n += 1;
                                mbti_detail.t += 1;
                                mbti_detail.j += 1;
                                break;
                            case "entp":
                                mbti_arr[13].count += 1;
                                mbti_detail.e += 1;
                                mbti_detail.n += 1;
                                mbti_detail.t += 1;
                                mbti_detail.p += 1;
                                break;
                            case "enfj":
                                mbti_arr[14].count += 1;
                                mbti_detail.e += 1;
                                mbti_detail.n += 1;
                                mbti_detail.f += 1;
                                mbti_detail.j += 1;
                                break;
                            case "enfp":
                                mbti_arr[15].count += 1;
                                mbti_detail.e += 1;
                                mbti_detail.n += 1;
                                mbti_detail.f += 1;
                                mbti_detail.p += 1;
                                break;
                        }
                    }

                    {#console.log(mbti_arr[0])#}
                    {#console.log(mbti_detail.i)#}
                    {#console.log(mbti_detail.s)#}
                    {#console.log(mbti_detail.t)#}
                    {#console.log(mbti_detail.j)#}

                    const ctx = $("#myChart");
                    let dataSet = mbti_arr.map((obj) => obj.count);
                    new Chart(ctx, {
                        type: "bar",
                        data: {
                            labels: [
                                "ISTJ",
                                "ISTP",
                                "ISFJ",
                                "ISFP",
                                "INTJ",
                                "INTP",
                                "INFJ",
                                "INFP",
                                "ESTJ",
                                "ESTP",
                                "ESFJ",
                                "ESFP",
                                "ENTJ",
                                "ENTP",
                                "ENFJ",
                                "ENFP",
                            ],
                            datasets: [
                                {
                                    {#label: "",#}
                                    data: dataSet,
                                    backgroundColor: [
                                        "#55efc4",
                                        "#00b894",
                                        "#81ecec",
                                        "#00cec9",
                                        "#74b9ff",
                                        "#0984e3",
                                        "#a29bfe",
                                        "#6c5ce7",
                                        "#ffeaa7",
                                        "#fdcb6e",
                                        "#fab1a0",
                                        "#e17055",
                                        "#ff7675",
                                        "#d63031",
                                        "#fd79a8",
                                        "#e84393",
                                    ],
                                    borderColor: [
                                        "rgba(255, 99, 132, 1)",
                                        "rgba(54, 162, 235, 1)",
                                        "rgba(255, 206, 86, 1)",
                                        "rgba(75, 192, 192, 1)",
                                        "rgba(153, 102, 255, 1)",
                                        "rgba(207, 255, 64, 1)",
                                        "rgba(255, 159, 64, 1)",
                                        "rgba(64, 156, 255, 1)",
                                        "rgba(255, 99, 132, 1)",
                                        "rgba(54, 162, 235, 1)",
                                        "rgba(255, 206, 86, 1)",
                                        "rgba(75, 192, 192, 1)",
                                        "rgba(153, 102, 255, 1)",
                                        "rgba(207, 255, 64, 1)",
                                        "rgba(255, 159, 64, 1)",
                                        "rgba(64, 156, 255, 1)",
                                    ],
                                    borderWidth: 0.1,
                                },
                            ],
                        },
                        options: {
                            plugins: {
                                legend: {
                                    display: false
                                }

                            },
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        stepSize: 1,
                                    },
                                },
                            },
                        },
                    });

                    const ctxMbtiIE = $("#mbtiIE");
                    new Chart(ctxMbtiIE, {
                        type: "doughnut",
                        data: {
                            datasets: [
                                {
                                    data: [mbti_detail.i, mbti_detail.e],
                                    backgroundColor: [
                                        "rgba(255, 99, 132)",
                                        "rgba(54, 162, 235)",
                                    ],
                                },
                            ],
                        },
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: "top",
                                },
                                title: {
                                    display: true,
                                    text: "E vs I",
                                },
                            },
                        },
                    });
                    let temp_left = `<span class="left" style="${
                        user_mbti[0] === "e"
                            ? "background-color: rgba(54, 162, 235, 1); color: white; font-weight: bold; padding: 5px; border-radius: 5px"
                            : "color: transparent"
                    }">${mbti_detail.e} 명 (${Math.round(
                        (mbti_detail.e / (mbti_detail.i + mbti_detail.e)) * 100
                    )}%)</span>`;
                    let temp_right = `<span class="right" style="${
                        user_mbti[0] === "i"
                            ? "background-color: rgba(255, 99, 132, 1); color: white; font-weight: bold; padding: 5px; border-radius: 5px"
                            : "color: transparent"
                    }">${mbti_detail.i} 명 (${Math.round(
                        (mbti_detail.i / (mbti_detail.i + mbti_detail.e)) * 100
                    )}%)</span>`;
                    $(".mbti-ie").prepend(temp_left);
                    $(".mbti-ie").append(temp_right);

                    const ctxMbtiSN = $("#mbtiSN");
                    new Chart(ctxMbtiSN, {
                        type: "doughnut",
                        data: {
                            datasets: [
                                {
                                    data: [mbti_detail.s, mbti_detail.n],
                                    backgroundColor: [
                                        "rgba(255, 206, 86)",
                                        "rgba(75, 192, 192)",
                                    ],
                                },
                            ],
                        },
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: "top",
                                },
                                title: {
                                    display: true,
                                    text: "N vs S",
                                },
                            },
                        },
                    });
                    temp_left = `<span class="left" style="${
                        user_mbti[1] === "n"
                            ? "background-color: rgba(75, 192, 192, 1); color: white; font-weight: bold; padding: 5px; border-radius: 5px"
                            : "color: transparent"
                    }">${mbti_detail.n} 명 (${Math.round(
                        (mbti_detail.n / (mbti_detail.s + mbti_detail.n)) * 100
                    )}%)</span>`;
                    temp_right = `<span class="right" style="${
                        user_mbti[1] === "s"
                            ? "background-color: rgba(255, 206, 86, 1); color: white; font-weight: bold; padding: 5px; border-radius: 5px"
                            : "color: transparent"
                    }">${mbti_detail.s} 명 (${Math.round(
                        (mbti_detail.s / (mbti_detail.s + mbti_detail.n)) * 100
                    )}%)</span>`;
                    $(".mbti-sn").prepend(temp_left);
                    $(".mbti-sn").append(temp_right);

                    const ctxMbtiTF = $("#mbtiTF");
                    new Chart(ctxMbtiTF, {
                        type: "doughnut",
                        data: {
                            datasets: [
                                {
                                    data: [mbti_detail.t, mbti_detail.f],
                                    backgroundColor: [
                                        "rgba(153, 102, 255)",
                                        "rgba(207, 255, 64)",
                                    ],
                                },
                            ],
                        },
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: "top",
                                },
                                title: {
                                    display: true,
                                    text: "F vs T",
                                },
                            },
                        },
                    });
                    temp_left = `<span class="left" style="${
                        user_mbti[2] === "f"
                            ? "background-color: rgba(207, 255, 64, 1); color: white; font-weight: bold; padding: 5px; border-radius: 5px"
                            : "color: transparent"
                    }">${mbti_detail.f} 명 (${Math.round(
                        (mbti_detail.f / (mbti_detail.t + mbti_detail.f)) * 100
                    )}%)</span>`;
                    temp_right = `<span class="right" style="${
                        user_mbti[2] === "t"
                            ? "background-color: rgba(153, 102, 255, 1); color: white; font-weight: bold; padding: 5px; border-radius: 5px"
                            : "color: transparent"
                    }">${mbti_detail.t} 명 (${Math.round(
                        (mbti_detail.t / (mbti_detail.t + mbti_detail.f)) * 100
                    )}%)</span>`;
                    $(".mbti-tf").prepend(temp_left);
                    $(".mbti-tf").append(temp_right);

                    const ctxMbtiJP = $("#mbtiJP");
                    new Chart(ctxMbtiJP, {
                        type: "doughnut",
                        data: {
                            datasets: [
                                {
                                    data: [mbti_detail.j, mbti_detail.p],
                                    backgroundColor: [
                                        "rgba(255, 159, 64)",
                                        "rgba(64, 156, 255)",
                                    ],
                                },
                            ],
                        },
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: "top",
                                },
                                title: {
                                    display: true,
                                    text: "P vs J",
                                },
                            },
                        },
                    });
                    temp_left = `<span class="left" style="${
                        user_mbti[3] === "p"
                            ? "background-color: rgba(64, 156, 255, 1); color: white; font-weight: bold; padding: 5px; border-radius: 5px"
                            : "color: transparent"
                    }">${mbti_detail.p} 명 (${Math.round(
                        (mbti_detail.p / (mbti_detail.j + mbti_detail.p)) * 100
                    )}%)</span>`;
                    temp_right = `<span class="right" style="${
                        user_mbti[3] === "j"
                            ? "background-color: rgba(255, 159, 64, 1); color: white; font-weight: bold; padding: 5px; border-radius: 5px"
                            : "color: transparent"
                    }">${mbti_detail.j} 명 (${Math.round(
                        (mbti_detail.j / (mbti_detail.j + mbti_detail.p)) * 100
                    )}%)</span>`;
                    $(".mbti-jp").prepend(temp_left);
                    $(".mbti-jp").append(temp_right);
                },
            });
        }
    </script>
</head>
<body>
<header>
    <div class="logo_box">
        <img class="logo" src="{{ url_for('static', filename='img/logo2.jpg') }}" alt="logo">
    </div>
    <nav>
        <ul class="nav__links">
            <li><a href="/user">나의 MBTI</a></li>
            <li><a href="/graph">항해 TI</a></li>
            <li><a href="/add_page">추가기능</a></li>
        </ul>
    </nav>
    <div>
    <button id="about-us" onclick="handleAboutClick()">About 18조</button>
    <li class="logout" onclick="logout()">로그아웃</li>
    </div>

</header>
<div id="about-us-article" style="display: none">
    <div class="profile">
        <img
                class="profile-img"
                src="../static/img/ksj.jpg"
                alt=""
        />
        <div class="profile-contents">
            <span>이름: 강성지</span>
            <span>MBTI: INFP</span>
            <span>취미: 축구</span>
            <span>소개: 팀원들 하드캐리에 멱살 잡혀 끌려가는 배</span>
            <span
            ><a
                    href="https://ji-coding.tistory.com/"
                    target="_blank"
                    rel="noopener noreferrer"
            >블로그: 지코딩</a
            ></span
            >
            <span
            ><a
                    href="https://github.com/Co-Ji"
                    target="_blank"
                    rel="noopener noreferrer"
            >깃헙: Co-Ji</a
            ></span
            >
        </div>
    </div>
    <div class="divider"></div>
    <div class="profile">
        <img class="profile-img" src="../static/img/kjh.jpg" alt=""/>
        <div class="profile-contents">
            <span>이름: 김재혁</span>
            <span>MBTI: ENFP</span>
            <span>전공: 정치</span>
            <span>취미: 롤, 비트만들기</span>
            <span
            ><a
                    href="https://polscodinglog.tistory.com/"
                    target="_blank"
                    rel="noopener noreferrer"
            >블로그: Pol's 코딩 일지</a
            ></span
            >
            <span
            ><a
                    href="https://github.com/jaehyukkim1996"
                    target="_blank"
                    rel="noopener noreferrer"
            >깃헙: jaehyukkim1996</a
            ></span
            >
        </div>
    </div>
    <div class="divider"></div>
    <div class="profile">
        <img class="profile-img" src="../static/img/pjc.png" alt=""/>
        <div class="profile-contents">
            <span>이름: 박재철</span>
            <span>MBTI: INTJ</span>
            <span>전공: 건축</span>
            <span>취미: 등산, XBOX</span>
            <span
            ><a
                    href="https://reload1bronze.tistory.com"
                    target="_blank"
                    rel="noopener noreferrer"
            >블로그: 오늘의 모험</a
            ></span
            >
            <span
            ><a
                    href="https://github.com/reload1bronze"
                    target="_blank"
                    rel="noopener noreferrer"
            >깃헙: reload1bronze</a
            ></span
            >
        </div>
    </div>
    <div class="divider"></div>
    <div class="profile">
        <img
                class="profile-img"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB-7F8PFDCDI4onQDJ7Iymp0Aeq6KC6UIzhQ&usqp=CAU"
                alt=""
        />
        <div class="profile-contents">
            <span>이름: 윤영수</span>
            <span>MBTI: </span>
            <span>취미: </span>
            <span
            ><a
                    href="https://0ggurogi.tistory.com/"
                    target="_blank"
                    rel="noopener noreferrer"
            >블로그: 꾸러기 코딩일기</a
            ></span
            >
            <span
            ><a
                    href="https://github.com/tayyoon"
                    target="_blank"
                    rel="noopener noreferrer"
            >깃헙: tayyoon</a
            ></span
            >
        </div>
    </div>
    <div class="divider"></div>
    <div class="profile">
        <img
                class="profile-img"
                src="https://w.namu.la/s/6ec0825609d8987849dfb6894cc122e41c304ca1516947442d8e64a660a533813814af95f791c9ca029383628a897b3823d2ef6a2ee886cec2604c84a7b1981dc08ee6781476a7bd54e18ec20a635b27"
                alt=""
        />
        <div class="profile-contents">
            <span>이름: 한재혁</span>
            <span>MBTI: </span>
            <span>취미: </span>
            <span
            ><a
                    href="https://jaehyeoks.tistory.com/"
                    target="_blank"
                    rel="noopener noreferrer"
            >블로그: 한재혁(6기)개발일지</a
            ></span
            >
            <span
            ><a href="#" target="_blank" rel="noopener noreferrer"
            >깃헙:
            </a></span
            >
        </div>
    </div>
</div>

<canvas id="myChart" width="850" height="410"></canvas>

<div class="mbti-circles">
    <div class="mbti-circle mbti-ie">
        <canvas id="mbtiIE" width="300" height="300"></canvas>
    </div>
    <div class="mbti-circle mbti-sn">
        <canvas id="mbtiSN" width="300" height="300"></canvas>
    </div>
    <div class="mbti-circle mbti-tf">
        <canvas id="mbtiTF" width="300" height="300"></canvas>
    </div>
    <div class="mbti-circle mbti-jp">
        <canvas id="mbtiJP" width="300" height="300"></canvas>
    </div>
</div>

</body>
</html>